* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a#header {
  display: block;
  margin-bottom: 1rem;
  padding: 0.25rem 0;
  text-align: center;
  text-decoration: none;
  font: normal normal 900 1.5rem/1.5rem serif;
}
form {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr 1fr 1.25fr;
  grid-gap: 0.5rem 0;
  margin: 1rem auto;
  padding: 0.75rem 0;
  width: calc(100% - 2rem);
  border-left: 0.25rem solid purple
}
form > *:not(button) {
  margin: 0 0.25rem;
  padding: 0  0.25rem;
  font: normal normal 650 1.125rem/1.125rem serif;
  border: 0.0625rem solid purple;
  border-radius: 0.5rem;
  outline: none;
}
form > *:not(button):focus {
  box-shadow: 0 0 0.125rem 0.125rem #ddd;
  border-radius: 0 2rem 2rem 0;
}
form select::after {
  content: "hahah";
}
form > input[name="url"] {
  grid-column: 1/4;
}
form > input[name="pathname"] {
  grid-column: 2/4;
}
form > button[type="submit"] {
  grid-column: 2/3;
  font: normal normal 900 1.25rem/1.25rem serif;
  letter-spacing: 0.0625rem
}